.movie-feature-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 290px;
    overflow: hidden;
    scroll-behavior: smooth;
    background: linear-gradient(180deg, transparent, rgba(255, 255, 255, 0.1), transparent);
}

.movie.feature.row {
    width: 100%;
}

.movie-feature-arrow {
    z-index: 1000;
    height: 350px;
    width: 100px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s ease-in-out;
}

.movie-feature-arrow:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}

.movie-feature-arrow-left {
    position: absolute;
    left: 0;
    top: 0;
}

.movie-feature-arrow-right {
    position: absolute;
    right: 0;
    top: 0;
}

@media only screen and (max-width: 599px) {
    .movie-feature-container {
        height: 290px;
    }
    .movie-feature-arrow {
        margin-top: 100px;
    }
}

@media only screen and (min-width: 600px) {
    .movie-feature-container {
        height: 290px;
    }
    .movie-feature-arrow {
        margin-top: 80px;
    }
}

@media only screen and (min-width: 900px) {
    .movie-feature-container {
        height: 350px;
    }
    .movie-feature-arrow {
        margin-top: 80px;
    }
}

@media only screen and (min-width: 1200px) {
    .movie-feature-container {
        height: 400px;
    }
    .movie-feature-arrow {
        margin-top: 80px;
    }
}