.top-bar-container {
    background-color: transparent;
    height: 6em;
    width: 100%;
    position: relative;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 1rem;
}

.header {
    font-size: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 599px) {
    .header {
        font-size: 36px;
        align-items: center;
    }
    .search {}
    .top-bar-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 600px) {
    .header {
        font-size: 48px;
    }
    .search {}
    .top-bar-container {}
}

@media only screen and (min-width: 900px) {
    .header {
        font-size: 48px;
    }
    .search {}
    .top-bar-container {}
}

@media only screen and (min-width: 1200px) {
    .header {
        font-size: 72px;
    }
    .search {}
    .top-bar-container {}
}