.top-bar-container {
    background-color: transparent;
    height: 6em;
    width: 100%;
    position: relative;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 1rem;
}

.header {
    flex: 1;
     font-size: 4em;
    padding-left: 1em;
}

.search {
    width: 500px;
    height: 100%;
    align-self: flex-end;
}