.movie-row-big-info-wrapper {
    height: 300px;
    position: relative;
    transition: all .2s ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.no-reveal {
    height: 0px;
    display: none;
}

.movie-row-big-info-container {
    position: absolute;
    top: -70px;
    left: 0;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.reveal {
    transform-origin: top;
    background-color: transparent;
}

.info-column {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* margin: 1em; */
    padding: 0 5px;
    width: 60%;
    height: 100%;
    color: #fff;
    box-sizing: border-box;
}


/* .info-column-top {
    position: relative;
} */

.image-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.row-multiLine {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.row-multiLine-item {
    display: flex;
    width: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    display: flex;
}

.multiLine-group {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    display: flex;
}

.title {
    font-size: 5rem;
}

.tagline {
    font-size: 2rem;
}

.release-date {
    font-size: 2rem;
}

.runtime {
    font-size: 2rem;
}

.overview {
    font-size: 1.7rem;
    color: #999
}

.genres {
    font-size: 2rem;
    flex: 1;
}

.button-row {
    position: absolute;
    bottom: 50px;
    width: 100%;
    height: 50px;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 1rem;
    color: white;
}

.button-text {
    font-size: 2em;
}

.button:hover {
    cursor: pointer
}

@media only screen and (max-width: 599px) {
    .movie-row-big-info-wrapper {
        height: 300px;
    }
    .title-text {
        font-size: 24px;
    }
    .main-text {
        font-size: 16px
    }
    .button {
        padding: 5px 10px;
    }
    .button-text {
        font-size: 16px
    }
    /* .movie-feature-row-multiLine {
        flex-direction: column;
        align-items: flex-start;
    } */
}

@media only screen and (min-width: 600px) {
    .movie-row-big-info-wrapper {
        height: 400px;
    }
    .title-text {
        font-size: 36px
    }
    .main-text {
        font-size: 16px
    }
    .button {
        padding: 8px 16px;
    }
    .button-text {
        font-size: 16px
    }
    .movie-feature-row-multiLine-item {
        flex: 1;
    }
    .multiLine-group .main-text {
        width: auto;
    }
}

@media only screen and (min-width: 900px) {
    .movie-row-big-info-wrapper {
        height: 500px;
    }
    .title-text {
        font-size: 48px
    }
    .main-text {
        font-size: 20px
    }
    .button {
        padding: 8px 16px;
    }
    .button-text {
        font-size: 16px
    }
}

@media only screen and (min-width: 1200px) {
    .movie-row-big-info-wrapper {
        height: 600px;
    }
    .title-text {
        font-size: 48px
    }
    .main-text {
        font-size: 24px
    }
    .button {
        padding: 8px 16px;
    }
    .button-text {
        font-size: 24px
    }
}