.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 2px solid rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-close-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 60px;
    width: 60px;
    box-sizing: border-box;
    border: 2px solid rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-inner-display {
    position: relative;
    width: 80%;
    height: 80%;
    box-sizing: border-box;
    border: 2px solid rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.modal-inner-display-info {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-inner-display-image {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-inner-display-image img {}