/* Fix Later: Some element styles (table) are not set in this file 
they can be found in MovieBigRowInfo.css  */

.movie-feature-info-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 50px;
    height: 500px;
    width: 100%;
}

.movie-feature-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.movie-feature-row-multiLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.movie-feature-row-multiLine-item {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    display: flex;
}

.movie-feature-row-multiLine-item:last-child {
    flex: 4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.movie-feature-info-column {
    position: relative;
    /* affects button row position */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 60%;
    height: 100%;
    color: white;
    padding: 5em 1em 1em 0em;
}

.movie-feature-image-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
}

.movie-feature-title {
    font-size: 5rem;
}

.movie-feature-tagline {
    font-size: 2rem;
}

.movie-feature-release-date {
    font-size: 2rem;
}

.movie-feature-runtime {
    font-size: 2rem;
}

.movie-feature-overview {
    font-size: 1.7rem;
    color: #999
}

.movie-feature-genres {
    font-size: 2rem;
    flex: 1;
}

.button-row {
    position: absolute;
    bottom: 50px;
    width: 100%;
    height: 50px;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 1rem;
    color: white;
}

.button-text {
    font-size: 2em;
}