.movie-feature-info-container {
    position: relative;
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    height: 500px;
    width: 100%;
}


/* .movie-feature-info-column { duplicate
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 60%;
    height: 100%;
    color: white;
    padding: 5em 1em 1em 0em;
} */

.movie-feature-image-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
}

.movie-feature-title {
    font-size: 6em;
}

.movie-feature-tagline {
    font-size: 2em;
}

.movie-feature-status {
    font-size: 2em;
}

.movie-feature-release-date {
    font-size: 2em;
}

.movie-feature-runtime {
    font-size: 2em;
}

.movie-feature-overview {
    font-size: 1.7em;
    color: #999
}