.movie-row-item-container {
    position: relative;
    display: flex;
    background-color: transparent;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background-color: #141414;
}

.movie-row-item {
    /* width: 342px;
    height: 513px; */
    width: 200px;
    height: 300px;
}

.movie-row-item:hover {
    cursor: pointer;
}

.movie-row-item:hover .movie-row-item-image {
    z-index: 0;
}

.movie-row-item:hover .movie-row-item-info {
    z-index: 1000;
}

.movie-row-item-image {
    opacity: 1;
    position: "absolute";
    top: 0;
    left: 0;
    width: 200px;
    height: 300px;
}

.movie-row-item-image:hover {
    opacity: 0;
}

.movie-row-item-info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.movie-row-item-info:hover {
    opacity: 1;
}