.movie-row-item-container {
    position: relative;
    display: flex;
    align-items: center;
    background-color: transparent;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: visible;
    background-color: #141414;
}

.movie-row-item {
    /* width: 342px;
    height: 513px; */
    cursor: pointer;
    width: 200px;
    height: 300px;
    transition: all .2s ease-in-out;
}

.movie-row-item:hover {

}

.scale-up:hover {
    width: 240px;
    height: 420px;
    transform: scale(1.5, 1.5);
    transform-origin: top;
    background-color: transparent;

}

.movie-row-item:hover .movie-row-item-image {
    z-index: 0;
}

.movie-row-item:hover .movie-row-item-areaHolder {
    z-index: 1000;
}

.movie-row-item-image {
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
    width: 200px;
    height: 300px;
}

.movie-row-item-image:hover {
    opacity: 0;
}

.clicker {
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    color: white;
    opacity: 0;
}

.movie-row-item:hover .clicker {
    opacity: 1;
}

.movie-row-item-areaHolder {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.movie-row-item-areaHolder:hover {
    opacity: 1;
}