.movie-row-item-container {
    position: relative;
    display: flex;
    background-color: transparent;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.movie-row-item {
    width: 342px;
    height: 513px;
}

.movie-row-item-image:hover {
    opacity: 0.5;
}

.movie-row-item-info {
    
}
