    .movie-row-container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        background-color: transparent;
        margin: 0px 0px 0px 0px;
        padding: 0;
        overflow-x: hidden;
        overflow-y: auto;
        height: 450px;
    }
    
    .movie-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 500px;
        width: 100%;
    }
    
    .movie-row-items-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0 0 0 100px;
        margin: auto;
        overflow-x: scroll;
        overflow: hidden;
        /* hide this to hide horizontal scrollbar */
        scroll-behavior: smooth;
    }
    
    .movie-row-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        height: 450px;
        overflow-y: visible;
    }
    
    .movie-row-section .movie-row-item-container:last-child :hover {
        transform: translate(-100px, 0px);
        left: 100px;
        width: 300px;
        box-sizing: border-box;
    }
    
    .leftArrow {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 0px;
        width: 100px;
        height: 500px;
        z-index: 1000;
        transition: .3s ease-in-out;
        background-color: rgba(20, 20, 20, 0.1);
        background-image: linear-gradient(transparent 10%, rgba(20, 20, 20, 0.5) 50%, transparent 90%);
    }
    
    .rightArrow {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        right: 0px;
        width: 100px;
        height: 500px;
        z-index: 1000;
        transition: .5s ease-in-out;
        background-color: rgba(20, 20, 20, 0.1);
        background-image: linear-gradient(transparent 10%, rgba(20, 20, 20, 0.5) 50%, transparent 90%);
    }
    
    .leftArrow:hover {
        cursor: pointer;
        background-image: linear-gradient(transparent 10%, rgba(20, 20, 20, 0.8) 50%, transparent 90%);
    }
    
    .rightArrow:hover {
        cursor: pointer;
        background-image: linear-gradient(transparent 10%, rgba(20, 20, 20, 0.8) 50%, transparent 90%);
    }
    
    .row-heading {
        z-index: 1000;
        color: white;
        font-size: 2em;
        width: 100%;
        text-align: left;
        position: absolute;
        left: 0;
        top: 0;
    }