.movie-row-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: gray;
    padding: 0 10%;
    overflow-x: hidden;
}

.movie-row {
    width: 900px;
}

.movie-row-items-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 300px;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.leftArrow {
    position: absolute;
    left: 0;
    top: 50%;
}

.rightArrow {
    position: absolute;
    right: 0;
    top: 50%;
}