    .movie-row-container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        background-color: transparent;
        margin: 0px 0px 0px 0px;
        padding: 0;
        overflow-x: hidden;
        overflow-y: auto;
        height: 450px;
    }
    
    .movie-row {
        /* margin: auto; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 500px;
    }
    
    .movie-row-items-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        /* height: 300px; */
        /* width: auto; */
        padding: 0;
        margin: auto;
        overflow-x: scroll;
        overflow: hidden;
        scroll-behavior: smooth;
    }
    
    .movie-row-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        height: 450px;
        /* padding-right: 5%; */
        /* padding-left: 5%; */
    }
    
    .leftArrow {
        position: absolute;
        display: flex;
        justify-content: center;
        left: 1%;
        /* top: 35%; */
        width: 50px;
        height: 50px;
    }
    
    .rightArrow {
        position: absolute;
        right: 1%;
        /* top: 35%; */
        width: 50px;
        height: 50px;
    }
    
    .leftArrow:hover {
        cursor: pointer;
    }
    
    .rightArrow:hover {
        cursor: pointer;
    }
    
    .row-heading {
        z-index: 1000;
        color: white;
        font-size: 2em;
        width: 100%;
        text-align: left;
        position: absolute;
        left: 0;
        top: 0;
    }